.category__btn {

  &:link,
  &:visited {
    font-size: 1.5rem;
    padding: 0.4rem 1.8rem;
    border-radius: 0.6rem;
    color: $blue-light;
    border: 1px solid $blue-light;
    background-color: white;
    text-decoration: none;
    box-shadow: 0 2rem 3rem rgba(black, 0.1);
    margin-top: 2.5rem;
    transition: all 0.2s;
  }

  &:hover,
  &:active {
    background-color: $blue-light;
    color: white;
  }
}

.book__btn {

  &:link,
  &:visited {
    font-size: 1.4rem;
    text-transform: capitalize;
    color: white;
    text-decoration: none;
    background-color: $blue-light;
    padding: 0.4rem 0;
    border-radius: 3px;
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 1.3rem;
    transition: all 0.2s;
  }

  &:hover,
  &:active {
    background-color: darken($blue-light, 4%);
  }
}

.menu__btn {

  &:link,
  &:visited {
    font-size: 1.6rem;
    color: white;
    text-decoration: none;
    width: max-content;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: all 0.2s;
  }

  &--blue {
    background-color: $blue-light;

    &:hover,
    &:active {
      background-color: darken($blue-light, 4%);
    }
  }

  &--orange {
    background-color: #ff6a10;

    &:hover,
    &:active {
      background-color: darken(#ff6a10, 4%);
    }
  }

  &--green {
    background-color: #1ec272;

    &:hover,
    &:active {
      background-color: darken(#1ec272, 4%);
    }
  }
}

.menu__icon-btn {

  &:link,
  &:visited {
    border-radius: 50%;
    padding: 0.9rem;
    margin-left: 1.2rem;
    transition: all 0.2s;
  }

  &--blue {
    background-color: $blue-light;

    &:hover,
    &:active {
      background-color: darken($blue-light, 4%);
    }
  }

  &--orange {
    background-color: #ff6a10;

    &:hover,
    &:active {
      background-color: darken(#ff6a10, 4%);
    }
  }

  &--green {
    background-color: #1ec272;

    &:hover,
    &:active {
      background-color: darken(#1ec272, 4%);
    }
  }
}