.category {
  background-color: white;
  border: 1px solid $blue-light;
  border-radius: 6px;
  box-shadow: 0 2rem 4rem rgba(black, 0.1);

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 3rem 0;
  position: relative;


  &__figure {
    width: 9rem;
    height: 9rem;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0 2rem 4rem rgba(black, 0.1);
  }

  &__img {
    display: block;
    width: 100%;
  }

  &__name {
    font-family: "metropolisbold";
    text-transform: capitalize;
    color: $font-color;
    font-size: 2rem;
    margin: 1rem;
  }

  &__des {
    font-size: 1.3rem;
    width: 21.5rem;
    text-align: justify;
  }

  &__n {
    background-image: linear-gradient(darken($blue-light, 5%),
        darken($blue, 4%));
    color: white;
    font-size: 1.7rem;
    width: 3.3rem;
    height: 3.3rem;
    border-radius: 0.6rem;
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
  }

  &__icon-box {
    font-size: 1.4rem;
    color: #666;
    width: 21.5rem;
    margin-top: .7rem;
    line-height: 1.6;
  }

  &__icon {
    width: 1.9rem;
    height: 1.9rem;
    fill: white;
    background-color: darken($blue-light, 3%);
    border-radius: 50%;
    padding: 0.2rem;
    margin-right: .6rem;
    transform: translateY(.38rem);
  }
}